<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.ee104b.ee_project">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Start_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main_Teac_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Enter_ID"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Main_Stud_Activity"
            android:screenOrientation="portrait" />
        <activity android:name=".Teac_name" />
        <activity android:name=".Student_name" />
        <activity android:name=".Stud_ques" />
        <activity android:name=".Stud_chapter" />
        <activity android:name=".Teac_chapter" />
        <activity android:name=".Teac_ques" />
        <activity android:name=".EditQuestion" />
        <activity android:name=".choose_quse" />
        <activity android:name=".Test" />
        <activity android:name=".class_people" />
        <activity android:name=".Test_stud"></activity>
    </application>

</manifest>